<div class="container pb-5 ">
    <h2 class="text-center text-white my-4">Bahia de Esclavos</h2>
    <div class="row my-3">        
        {{#each regi}}
            <div class="col-md-3 my-3 mx-auto">
                <div class="card mr-0" >
                    <div class="card-body p-0">
                        <img src="images/{{ciudad}}.png" alt="" class="card-img-top" height="300px">
                        <h4 class="card-tittle text-center pt-2" style="color: crimson;">                            
                            {{ciudad}}                            
                        </h4>
                        <p class="text-center mb-0 font-weight-italic"> <span class="font-weight-bold">Lugar: </span>{{lugar}}</p>                        
                        <p class="text-center"><span class="font-weight-bold">Region: </span> {{region}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    <h2 class="text-center text-white my-4">Ciudades Libres</h2>
    <div class="row my-3">        
        {{#each libre}}
            <div class="col-md-3 my-3">
                <div class="card mr-0" >
                    <div class="card-body p-0">
                        <img src="images/{{ciudadA}}.png" alt="" class="card-img-top" height="300px">
                        <h4 class="card-tittle text-center pt-2" style="color: crimson;">                            
                            {{ciudadA}}                            
                        </h4>
                        <p class="text-center mb-0 font-weight-italic"> <span class="font-weight-bold">Region: </span>{{lugarA}}</p>                        
                        <p class="text-center"><span class="font-weight-bold">Region: </span> {{regionA}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
